.sidePanel
  z-index: 1
  position: fixed
  right: -150px
  width: 150px
  background-color: #616c7d
  transition: 0.3s
  padding-bottom: 15px

  display: flex
  flex-direction: column
  flex-wrap: nowrap

  *
    align-self: center

  a
    margin-top: 15px
    padding: 10px 30px 10px 30px
    text-decoration: none
    color: black
    font-size: 18px
    transition: 0.3s
    cursor: pointer

  a:hover
    font-size: 25px
    transition: 0.2s
    color: lightblue

.open-side-panel
  transition: 0.3s
  right: 0px

.selected-profile-img
  transition: 0.3s
  box-shadow: 0 0 0 5px lightblue

.not-selected
  transition: 0.3s
  box-shadow: 0 0 0 0px lightgray

.navbar
  display: flex
  justify-content: center
  width: 100%
  background-color: #7c8aa1

  .navbarItems
    width: 95%
    display: flex
    align-self: center
    justify-content: flex-end
    flex-direction: row
    flex-wrap: nowrap

    .nav-title
      left: 0px
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: center
      padding: 10px
      margin-right: 30px

      *
        align-self: center
        margin: 0
        cursor: pointer

    .nav-item
      left: 0px
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: center
      padding: 10px

      *
        align-self: center
        margin: 0

      a
        text-decoration: none
        color: black
        font-size: 17px
        border-radius: 15px
        padding: 10px 10px 10px 10px

      a:hover
        color: lightblue
        background-color: gray
        transition: 0.2s

    .image-btn
      margin-left: auto
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      justify-content: center
      padding: 10px

      *
        align-self: center

      span
        font-size: 17px

      .profile-image
        border-radius: 50%
        width: 3em
        margin-left: 1em

      .not-selected:hover
        box-shadow: 0 0 0 5px lightgray
        transition: 0.3s

      .selected-profile-img:hover
        box-shadow: 0 0 0 5px lightblue
        transition: 0.3s

$media-queries: "(-webkit-min-device-pixel-ratio: 2) and (min--moz-device-pixel-ratio: 2) and (-o-min-device-pixel-ratio: 2 / 1) and (min-device-pixel-ratio: 2) and (min-resolution: 192dpi) and (min-resolution: 2dppx)"

@media only screen and #{$media-queries}
  .nav-item
    display: none
